<h1>New Exercise</h1>

<%= form_with model: @exercise do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @exercise.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


